
@media only screen and (max-width : 1390px) {
	.menu {
		padding: 0 20px;
	}
	.title-big {
        font-size: 59px;
    }
    .block-calculator_catalog .item-calculator {
        padding: 0 10px;
    }
    .item-calculator__title {
       font-size: 14px;
   }
   .result-form {
       padding-left: 20px;
   }
   .result-form__image img {
    max-width: 595px;
}
.presentation-block__image img {
   max-width: 800px; 
}
.presentation-block__content { 
    max-width: 695px;
    padding: 0 23px;
}
.presentation-block__image { 
    margin-left: -470px;
}
.consult-block {
    padding: 75px 145px;
}
.item-news__image {
	margin-right: 20px;
}
.item-news .title-news {
    font-size: 22px;
}
.header_page .header__line .menu {
    padding-right: 0;
    font-size: 14px;
}
.card-price {
    font-size: 26px;
}
.contacts .block-form {
    padding-left: 20px;
    padding-right: 20px;
    width: 295px;
}
.sidebar-news {
    padding-left: 15px;
}
.item-achievement {
    padding: 60px 18px;
}
.item-sertificat {
    height: 353px;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .header__right .list-phones {
       display: none;
   }
   .title-big { 
    font-size: 46px;
}
.billbord {
    padding-top: 110px;
    min-height: initial;
    padding-bottom: 70px;
}
.item-billbord {
    margin-top: 35px;
    font-size: 15px;
    line-height: 20px;
}
.result-form__image {
   top: auto;
   bottom: 0;
}
.result-form__image img {
    max-width: 454px;
}
.title-section {
    font-size: 33px;
}
.advantages {
   padding: 70px 0;
}
.item-advantage {
   font-size: 15px;
}
.row_advantages > div {
    margin-top: 35px;
}
.descr-section {
	font-size: 20px;
}
.list-page {
    font-size: 16px;
    line-height: 22px;
}
.presentation-block .list-page {
    margin-top: 15px;
    margin-left: 33px;
}
.presentation-block__content {
    max-width: 570px;
}
.presentation-block__image {
    margin-left: -351px;
    top: -20px;
}
.descr-middle {
    font-size: 17px;
    line-height: 26px;
}
.row_steps > div {
    padding: 0 15px;
    margin-bottom: 28px;
}
.row_steps {
	margin: 0 -15px;
}
.item-step__title {
    font-size: 15px;
}
.steps {
   padding: 70px 0;
}
.consult-block {
    padding: 50px 80px;
}
.team-block__text {
	width: 100%;
}
.team-block__image {
	width: 100%;
	margin-bottom: 25px;
}
.team-block__numbers {
	display: flex;
	margin: 0 -15px;
}
.item-number {
	flex: 1;
	margin-top: 25px;
	padding: 0 15px;
	margin-bottom: 0;
}
.team-block__image {
	width: 50%;
}
.item-news__image {
    width: 195px;
}
.item-news .title-news {
    font-size: 17px;
    line-height: 21px;
}
.news {
	padding: 70px 0;
}
.footer__contacts {
	padding-left: 15px;
}
.list-footer {
	margin-left: 0;
}
.social-list li {
    margin-right: 6px;
}
.catalog {
   padding: 70px 0;
}
.row_catalog {
    margin: 0 5px;
    margin-top: 20px;
}
.row_catalog > div {
    padding: 0 5px;
}
.catalog .container > .catalog-block {
    padding-left: 9px;
    padding-right: 9px;
}
.row_catalog .item-catalog {
    margin-bottom: 22px;
}
.header_page .header__line .list-social {
    margin-left: 5px;
}
.header_page .header__line .list-social li {
    margin-right: 4px;
}
.header_page .header__line .menu {
    font-size: 13px;
}
.catalog_page {
    padding-top: 20px;
}
.phone-block {
    padding: 13px 10px;
    font-size: 14px;
    padding-right: 10px;
}
.card-consult__form {
    width: 230px;
}
.checkbox-wrap .checkbox {
    white-space: normal;
}
.card-price {
    font-size: 20px;
    padding-bottom: 0;
}
.item-info {
    margin-bottom: 10px;
}
.line-info {
    margin-bottom: 15px;
}
.advantage-card {
    font-size: 14px;
    line-height: 21px;
}
.advantage-card__title {
    font-size: 16px;
    padding-bottom: 3px;
}
.phone-block__number::before {
    width: 42px;
}
.contacts .block-form {
    width: 400px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    margin-top: 30px;
    float: none;
}
.partners-wrap__item {
    padding: 0 10px;
}
.partners-wrap {
    margin: 0 -10px;
}
.consultation-block__left {
    padding-left: 25px;
}
.consultation-block {
    padding: 35px 24px;
}
.sidebar-news .title-middle {
    font-size: 26px;
}
.news-page .title-page {
    padding-bottom: 20px;
}
.item-sidebar {
    margin-top: 20px;
}
.article .title-page {
        font-size: 28px;
    line-height: 39px;
    margin-bottom: 20px;
}
.article__image {
    margin-bottom: 15px;
}
.article .title-middle {
    padding-bottom: 15px;
}
.item-achievement__title {
    font-size: 18px;
    line-height: 25px;
    }
    .item-achievement {
        padding: 30px 15px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.btn_nav {
        margin-left: 20px;
        display: inline-block;
    }
    .header__line .menu {
        display: none;
    }
    .mobile-menu {
        padding: 0 15px;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        overflow: auto;
        background-color: #f7f7f7;
        padding-bottom: 100px;
    }
    .menu {
        max-width: 100%;
        padding: 0;
        display: block;
    }
    .mobile-menu .list-social {
        display: flex;
        position: relative;
        top: 0;
        margin: 0;
        left: 0;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .mobile-menu .list-phones {
        margin: 0;
        margin-top: 15px;
    }
    .mobile-menu  .list-social a {
        margin-right: 15px;
    }
    .mobile-menu .btn-main_page {
        display: none;
    }
    .mobile-menu__bottom {
        padding: 0 15px;
    }
    .header__line {
       position: static;
   }
   .menu a {
       padding: 10px 0;
       display: block;
       border-width: 1px;
       border-color: #666;
   }
   .header {
       position: fixed;
       z-index: 2000;
       transition: all 0.3s;
   }
   .header.fixed {
       background-color: #f7f7f7;
   }
   .header__line {
       justify-content: space-between;
   }
   .list-social {
       display: none;
   }
   .block-calculator {
       padding-top: 20px;
   }
   .billbord__items {
       max-width: 600px;
   }
   .billbord__items {
    max-width: 438px;
}
.billbord {
	background-position: 40% center;
}
.block-calculator_catalog .block-calculator__line {
    flex-wrap: wrap;
}
.block-calculator_catalog .item-calculator {
	padding-top: 15px;
}
.block-calculator_catalog {
	padding-top: 0px;
}
.catalog-block {
	margin-right: 0;
}
#map-catalog {
    min-height: 500px;
    margin-left: 0;
    margin-top: 20px;
}
.title-middle {
    font-size: 26px;
    line-height: 38px;
}
.result-form__image {
	position: relative;
	bottom: 0;
	right: 0;
	margin-top: 15px;
}
.result-form__image img {
	max-width: 100%;
}
.result-form {
	padding-bottom: 15px;
}
.title-section {
    font-size: 28px;
}
.advantages {
	padding: 50px 0;
}
.presentation-block__image {
	display: none;
}
.presentation-block__content {
	max-width: 100%;
}
.presentation-block .list-page {
	margin-left: 80px;
}
.consult-block {
    padding: 30px 15px;
}
.team {
    padding-top: 60px;
}
.team-block__image {
	width: 100%;
}
.item-number__head {
    font-size: 34px;
}
.team-block {
   padding: 30px 20px;
}
.news .title-section {
    padding-bottom: 30px;
}
.news {
	padding: 50px 0;
}
.title-news {
    font-size: 23px;
    line-height: 31px;
    margin-bottom: 14px;
}
.item-news__image {
   height: 246px;
}
.footer__right {
   float: none;
}
.list-footer li {
    margin-bottom: 14px;
}
.col_copyright {
	padding-left: 15px;
	text-align: right;
}
.footer__bottom .col_pl {
	padding-left: 15px;
}
.footer__bottom .row > div {
	padding-top: 10px;
	padding-bottom: 10px;
}
.wrapper_page {
    padding-top: 73px;
}
.row_catalog > div {
    padding: 0 10px;
}
.row_catalog {
    margin-left: -10px;
    margin-right: -10px;
}
.catalog .container > .catalog-block {
    padding-left: 20px;
    padding-right: 20px;
}
.block-calculator_catalog .title-section {
    padding-bottom: 0;
}
.header_page .header__line .list-social {
    display: none;
}
.catalog-wrap__left {
    width: 100% !important;
}
#dragbar {
    display: none;
}
.catalog-wrap__right {
    float: none;
    left: 0 !important;
    width: 100% !important;
    position: relative;
    height: initial;
}
.catalog-wrap__right #map-catalog {
    height: 400px;
    min-width: initial;
}
.card__left {
    margin-right: 0;
}
.card-consult {
    margin-left: 0;
}
.card-consult__form {
    width: 291px;
}
.wrapper {
    overflow: hidden;
}
.partners-wrap__item {
    width: 25%;
}
.consultation-block__left {
    padding-left: 15px;
    border: none;
}
.consultation-block__title {
    padding-top: 15px;
}
.list-main li  {
    min-height: 50px;
}
.news-page .row_news > div {
    margin-top: 35px;
}
.news-page .sidebar-news {
    display: none;
}
.sidebar-mobile {
    padding-top: 25px;
}
.news-page {
    padding-bottom: 50px;
}
.item-sidebar__text {
    font-size: 19px;
    line-height: 25px;
    }
    .article .sidebar-news .title-middle,
    .article .title-page {
        min-height: initial;
        display: block;
    }
    .article .sidebar-news .title-middle {
        padding-top: 25px;
    }
    .about__image {
        margin-bottom: 15px;
    }
    .title-page_achievements {
        padding-top: 20px;
    }
    .item-achievement {
    padding: 30px 55px;
}
.row_achievements > div {
    margin-bottom: 30px;
}
.about .title-page {
    padding-bottom: 25px;
    }
    .item-sertificat {
    height: 410px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .billbord {
       padding-top: 90px;
       padding-bottom: 50px;
       background-position: left center;
   }
   .title-big {
    font-size: 36px;
    text-align: center;
}
.item-billbord {
    margin-top: 26px;
    font-size: 14px;
    line-height: 20px;
}
.item-calculator {
	width: 50%;
	padding-bottom: 20px;
}
.block-calculator__line {
	flex-wrap: wrap;
}
.block-calculator {
	padding-bottom: 10px;
}
.billbord .block-calculator__line {
	justify-content: center;
}
.billbord .block-calculator {
	padding-bottom: 10px;
}
.billbord .item-calculator:last-child {
	text-align: center;
}
.block-calculator__bottom {
	padding-top: 25px;
	flex-wrap: wrap;
}
.block-calculator__right {
	padding-top: 25px;
}
.catalog {
	padding: 50px 0;
}
.block-calculator,
.block-calculator_catalog {
	padding: 20px 15px;
}
.catalog-block {
	padding-bottom: 5px;
}
#map-catalog {
	height: 300px;
	min-height: initial;
}
.result-form .phone-form {
    margin-top: 20px;
}
.descr-title {
    font-size: 16px;
    line-height: 23px;
}
.title-middle {
    font-size: 22px;
    line-height: 31px;
}
.result-form {
	padding-right: 15px;
    background-size: initial;
}
.item-advantage {
	padding: 20px;
	padding-left: 70px;
	min-height: initial;
}
.item-advantage__icon {
    top: 17px;
    left: 11px;
}
.row_advantages > div {
   margin-top: 20px;
}
.presentation-block{
   padding: 30px 0;
}
.descr-section {
    font-size: 18px;
}
.presentation-block .list-page {
	margin-left: 0;
}
.presentation-block .btn-main {
    margin-top: 27px;
}
.steps {
	padding: 50px 0;
}
.steps-block {
	padding: 30px 20px;
}
.consult-block {
	padding: 30px 25px;
}
.consult-block .item-form {
	margin-bottom: 20px;
}
.checkbox-right {
	justify-content: center;
}
.team-block .title-section {
	padding-bottom: 20px;
}
.team-block__numbers {
	display: block;
}
.big-news__content {
    padding: 25px 20px;
    padding-bottom: 25px;
    max-width: 330px;
}
.text-news {
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 15px;
}
.title-news {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 11px;
}
.item-news {
	padding-right: 15px;
}
.item-news .text-news {
    margin-bottom: 11px;
}
.date-news {
    font-size: 13px;
    margin-bottom: 9px;
}
.row_news > div {
    margin-top: 23px;
}

.list-footer li {
    margin-bottom: 10px;
}
.footer__title {
	padding: 10px 0;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}
.footer__content {
	display: none;
}
.footer__content {
	padding-top: 15px;
}
.footer__logo {
	max-width: 200px;
	margin: 0 auto;
}
.catalog_page {
    padding-top: 20px;
}
.catalog .container > .catalog-block {
    padding-left: 50px;
    padding-right: 50px;
}
.page-numbers {
    padding-left: 11px;
    padding-right: 11px;
}
.item-catalog {
    min-height: initial;
}
.tabs a {
    width: 100%;
}
.tabs li {
    flex: 1;
}
.advantage-card {
    width: 33%;
    margin-top: 15px;
}
.title-section_card {
    padding-top: 35px;
}
#map-card {
    height: 355px;
}
.recomend-wrap {
    margin-top: 0;
}
.card {
    padding-bottom: 50px;
}
.tab-pane {
    padding: 0 15px;
    margin: 0 -15px;
}
.slider-gallery__image {
    height: 310px;
}
.tab-container iframe {
    height: 320px;
}
.card-oldprice,
.card-price {
    text-align: left;
}
.title-page {
    font-size: 28px;
    line-height: 36px;
}
.contacts .title-page {
    padding-bottom: 20px;
}
#map-contact {
    height: 350px;
}
.title-contact:first-of-type,
.title-contact {
    padding-top: 20px;
}
.contacts {
    padding-bottom: 50px;
}
.item-team {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
}
.partners {
    padding-bottom: 50px;
}
.team-page {
    padding-bottom: 20px;
}
.team-page ~ .partners {
    padding-bottom: 25px;
}
.consultation-block__title {
    font-size: 21px;
}
.consultation-block__descr {
    font-size: 16px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.consultation-block {
    padding: 25px 20px;
}
.consultation {
    padding-bottom: 50px;
}
.mortgage .title-page {
    padding-bottom: 15px;
}
.list-main_columns {
    columns: initial;
}
.mortgage .title-small {
    padding-top: 0;
}
.item-sidebar__text {
    font-size: 22px;
    line-height: 30px;
}
.article .title-page {
    font-size: 25px;
    line-height: 34px;
    }
    .article .title-small {
    padding-top: 10px;
    padding-bottom: 10px;
}
.article__buttons {
    padding-top: 0;
    text-align: center;
    flex-direction: column;
}
.article__buttons .btn-simple {
    margin: 0;
    min-width: 243px;
    margin-top: 15px;
}
.breadcumbs-wrap {
    margin-bottom: 25px;
}
.title-page_sertificats {
    padding-top: 20px;
}
.item-sertificat {
    padding: 15px;
    height: 296px;
    margin: 0 10px;
}
.slider-sertificats {
    margin-left: -10px;
    margin-right: -10px;
}

.modal-wrap__content {
    padding: 15px;
}
.item-filter {
    padding: 0 17px;
    margin-right: 11px;
    min-width: 120px;
}
.wrap-checkboxes .checkbox {
    margin-right: 15px;
}
.bottom-filter {
    padding: 20px 15px;
    justify-content: center;
}
.bottom-filter .btn-main {
    margin-left: 13px;
    padding: 0 19px;
}
.wrap-checkboxes {
    margin-top: 15px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .header__right .btn-main {
       display: none;
   }
   .footer__bottom .row > div {
       text-align: center;
   }
   .title-big {
    font-size: 27px;
}
.billbord__items {
   display: none;
}
.billbord {
   background-position: center;
}
.item-calculator {
   width: 100%;
}
.block-calculator__right {
   display: block;
}
.block-calculator__right .btn-main {
   margin-left: 0;
   margin-top: 20px;
}
.catalog-block {
   padding: 20px 15px;
   padding-bottom: 0;
}
.title-middle {
    font-size: 20px;
    line-height: 29px;
}
.result-form .phone-form {
	display: block;
}
.phone-form .item-form {
	margin-right: 0;
	width: 100%;
	margin-bottom: 20px;
    max-width: 257px;
}
.title-section {
    font-size: 24px;
}
.descr-section {
    font-size: 16px;
}
.presentation-block .list-page {
	margin-top: 0;
	display: block;
}
.list-page li {
	width: 100% !important;
}
.list-page li {
	margin-top: 12px;
}
body {
	font-size: 14px;
}
.btn-main_download i {
    margin-right: 8px;
}
.btn-main_download {
    padding-left: 15px;
    padding-right: 23px;
}
.steps-block .title-section {
	padding-top: 0;
}
.descr-middle {
    font-size: 15px;
    line-height: 22px;
}
.item-step {
    padding: 15px 15px;
}
.steps-block {
	padding-bottom: 10px;
}
.team {
	padding-top: 40px;
}
.team-block {
	padding: 20px 15px;
}
.item-number__head {
    font-size: 29px;
    padding-bottom: 8px;
    margin-bottom: 13px;
}
.item-number__head span {
    font-size: 20px;
}
.item-news {
	display: block;
}
.footer__right .btn-main {
    margin-top: 22px;
    padding: 0 0;
    font-size: 12px;
    line-height: 16px;
}
.footer__contacts br {
   display: none;
}
.footer__contacts strong {
   margin-top: 5px;
   display: block;
}
.social-list li {
   margin-top: 10px;
}
.range-catalog {
   max-width: 100%;
}
.item-news__image {
    min-height: initial;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    object-position: center;
}
.btn-phone {
    font-size: 20px;
    color: #1b9958;
    display: inline-block;
}
.billbord .block-calculator { 
    margin-top: 35px;
}
.big-news__content {
    max-width: 100%;
}
.mobile-menu .btn-main_page {
    display: inline-flex;
}
.slider-catalog .slick-prev {
    left: -15px;
}
.slider-catalog .slick-next {
    right: -15px;
}
.consult-block .descr-section {
    padding-bottom: 20px;
}
.catalog .container > .catalog-block {
    padding-left: 15px;
    padding-right: 15px;
}
.page-numbers {
    padding-left: 7px;
    padding-right: 7px;
}
.catalog-wrap__right #map-catalog {
    height: 345px;
}
.slider-gallery__image {
    height: 235px;
}
.item-info {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}
.item-info .btn-like {
    left: 5px;
}
.advantage-card__icon {
    margin-bottom: 15px;
}
.advantage-card {
    font-size: 13px;
    line-height: 18px;
}
.content-info__title {
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
    margin-top: 14px;
}
.content-info {
    padding: 15px;
}
.card-feature span {
    width: 140px;
}
.card-feature {
    margin-top: 10px;
}
.recomend-wrap {
    padding: 10px 10px;
    padding-bottom: 0;
}
.slider-recomend .slick-prev {
    left: -10px;
}
.slider-recomend .slick-next {
    right: -10px;
}
.card-consult {
    margin-top: 20px;
}
.title-contact {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.text-contact {
    padding-bottom: 0;
}
.block-form {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 20px;
    padding-top: 20px;
    max-width: 100%;
}
.block-form__title {
    font-size: 18px;
    padding-bottom: 9px;
}
.block-form__descr {
    padding-bottom: 18px;
}
.block-form .checkbox {
    margin-top: 15px;
}
.title-page {
    font-size: 25px;
    line-height: 32px;
}
.item-team  {
    margin-bottom: 20px;
}
.team-page { 
    padding-bottom: 30px;  
}
.partners-wrap__item {
    width: 33%; 
    padding: 0 5px;
    margin-bottom: 10px;
}
.partners-wrap {
    margin: 0 -5px;
}
.partners {
    padding-bottom: 40px;
}
.contacts {
    padding-bottom: 35px;
}
.partners .title-page {
    padding-bottom: 19px;
}
.item-partner {
    height: 80px;
}
.consultation-block__title {
    font-size: 18px;
}
.consultation-block__descr {
    font-size: 14px;
    line-height: 22px;
}
.consultation-text {
    line-height: 23px;
}
.agree-form {
    line-height: 22px;
    margin-top: 20px;
}
.consultation-block {
    margin-top: 25px;
}
.breadcumbs-wrap {
    margin-bottom: 25px;
}
.list-main {
    padding-top: 0;
}
.list-main li {
    min-height: 41px;
    margin-bottom: 12px;
}
.mortgage {
    line-height: 23px; 
} 
.mortgage .title-small {
    padding-top: 10px;
}
.title-small {
    font-size: 19px;
    line-height: 27px;
}
.mortgage .title-small {
    padding-bottom: 15px;
}
.mortgage {
    padding-bottom: 25px;
}
.news-page .item-news__content {
    padding: 15px;
    padding-top: 0;
}
.news-page .item-news__image {
    height: 175px;
    }
    .news-page .row_news > div {
        margin-top: 23px;
    }
    .news-page .btn-simple_more {
    margin-top: 23px;
}
.item-sidebar__text {
    font-size: 17px;
    line-height: 23px;
}
.item-sidebar__content {
    padding: 0 15px;
    bottom: 29px;
}
.item-sidebar {
    height: 205px;
}
.item-sidebar__date {
    font-size: 13px;
}
.news-page {
    padding-bottom: 40px;
}
.article {
    line-height: 22px;
    padding-bottom: 50px;
}
.article__image {
    height: 200px;
}
.article__image img {
        height: 100%;
    width: 100%;
    max-width: initial;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.about {
    line-height: 22px;
}
.about .title-page {
    padding-bottom: 15px;
}
.item-sertificat {
    width: 290px;
    height: 400px;
    margin: 0 auto;
}
.item-achievement__icon {
    margin-bottom: 25px;
}

.item-filter {
    padding: 0 9px;
    margin-right: 7px;
    min-width: 114px;
}
.title-filter {
    padding-top: 18px;
}
.bottom-filter {
    margin-top: 20px;
    flex-direction: column-reverse;
}
.bottom-filter .btn-main {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
    max-width: 300px;
}
.bottom-filter  .btn-icon {
    width: 100%;
    max-width: 300px;
    justify-content: center;
}
}
@media only screen and (max-width : 370px) {
    .item-map__prices {
        display: block;
    }
    .tabs a {
        font-size: 13px;
        height: 36px;
    }
    .breadcumbs span { 
        margin: 0 5px;
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .footer__content {
       display: block !important;
   }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .menu {
       display: flex !important;
       height: initial !important;
   }
   .sidebar-mobile,
   .mobile-menu {
    display: none !important;
}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1390px) {
	.container {
		max-width: 1390px;
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1390px;
	}
}